.profile_info {
    margin: 22px 0 25px 30px;
    display: grid;
    grid-template-columns: 294px auto;
    justify-items: flex-start;
    align-items: center;
}
@media (max-width: 900px) {
    .profile_info {
      margin-left: 0;
    }
  } 
  @media (max-width: 600px) {
    .profile_info {
      margin-bottom: 36px;
      margin-top: 25px;
      grid-template-columns: 189px 18px;
    }
  } 
  
  